/* Webfont */
@font-face {
    font-family: "main-font";
    src: url("/open-sans-regular.woff2") format('woff2');
}

@font-face {
    font-family: "title-font";
    src: url("/martel-regular.woff2") format('woff2');
}

@font-face {
    font-family: "logo-font";
    src: url('/raleway-bold.woff2') format('woff2');
}

/* Composite classes */

/* * {border:1px solid red;} */

body {
    font-family: "main-font", sans-serif;
    color: var(--color-maintext);
    padding: 0;
    margin: 0;
    background-color: var(--color-pagebg);
    /* background: linear-gradient(180deg, #9de4fc, #a2e5fc, #a8e6fc, #ade7fc, #b2e8fc, #b7e9fc, #bbeafc, #c0ebfc) fixed; */
    /* background: linear-gradient(180deg, #ffcf9c, #ffd1a1, #ffd4a6, #ffd6ab, #ffd9b0, #ffdbb5, #ffdeba, #ffe0bf) fixed; */
    /* background: linear-gradient(180deg, #fff6eb, #fff7ec, #fff7ee, #fff8ef, #fff8f1, #fff9f2, #fff9f4, #fffaf5) fixed; */
    /* background: linear-gradient(180deg, #fffaf5, #fff9f4, #fff9f2, #fff8f1, #fff8ef, #fff7ee, #fff7ec, #fff6eb) fixed; */
    /* background: linear-gradient(0deg, #ff8e58, #ff955e, #ff9c65, #ffa26c, #ffa973, #ffaf7a, #ffb582, #ffbb8a) fixed; */
    /* background: linear-gradient(0deg, #ffe4cf, #ffe2cc, #ffdfc8, #ffddc5, #ffdac2, #ffd8be, #ffd5bb, #ffd3b8) fixed; */
    /* background: linear-gradient(0deg, #fff5ed, #fff3e9, #fff0e4, #ffeee0, #ffebdc, #ffe9d7, #ffe6d3, #ffe4cf) fixed; */
}

.page-container {
    width: min(90em, 100%);
    margin-left: auto;
    margin-right: auto;
}

/*
.page-container::after {
    position: absolute;
    left: 0;
    top: 5em;
    content: "";
    width: 100%;
    height: 1em;
    background-color: var(--color-light-blue-alt);
    transform: rotate(30deg);
    z-index: -10;
}
*/

.main-content-container {
    /*width: min(90em, 100%);
    margin-left: auto;
    margin-right: auto;*/
    /*margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 5px;*/
    background-color: var(--color-contentbg);
    box-shadow: 0px 5px 10px var(--color-shadow);
    /* clip-path: inset(0px -20px 0px -20px); */
    /* box-shadow: -10px 0 8px -8px var(--color-dark-shadow), 10px 0 8px -8px var(--color-dark-shadow); */
    /*z-index: -1;*/
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.text-container {
    /*background-color: var(--color-contentbg);*/
    /*box-shadow: 0px 5px 10px var(--color-shadow);*/
    /*border-radius: 5px;*/
    /*padding: 0.75em;*/
    /* width: min(90em, 100%); */
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding: 1em;
}

.navigation {
    /* background-color: var(--color-navbg); */
    /* background: linear-gradient(90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2, #f4d4ca, #fbf0e7, #fffaf5); */
    /*background: linear-gradient(90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);*/
    /*box-shadow: 0px 1px 10px var(--color-shadow);*/
    /* box-shadow: 0px 5px 10px var(--color-shadow); */
    position: relative;
    width: 100%;
    /*width: calc(100% + 4em);
    left: -2em;*/
    /*border-radius: 0 0 7px 7px;*/
    padding-top: 1em;
    padding-bottom: 1em;
    /*z-index: 1;*/
    /*clip-path: polygon(0 0, calc(100% - 2em) 0%, 100% 100%, 2em 100%);*/
    /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1em), calc(100% - 1em) 100%, 1em 100%, 0 calc(100% - 1em));*/
    /*transform: skew(30deg);*/
}

/*
.navigation:after {
    width: 0; 
    height: 0; 
    border-top: 4em solid transparent;
    border-bottom: 3.37em solid transparent; 
    border-right: 4em solid #0563bd; 
    content: "";
    position: absolute;
    top: -4em;
    left: -4em;
    transform-origin: 0 0;
}
*/

.navigation::after {
    content: "";
    background: linear-gradient(90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);
    box-shadow: 0px 1px 10px var(--color-shadow);
    transform: skew(15deg);
    position: absolute;
    width: calc(100% + 4em);
    height: 100%;
    left: -2em;
    top: 0;
    z-index: -1;
}

/*
.navigation:after {
    border-radius: 0 0 100em 0;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 1);
    content: '';
    display: block;
    height: 200em;
    left: 0;
    position: absolute;
    top: -197em; /* height of this thing (200) - height of nav bar (3) = 197 *//*
    width: 100%;
    z-index: -1;
}
*/

.footer {
    /* background-color: var(--color-navbg); */
    /* background: linear-gradient(-90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2, #f4d4ca, #fbf0e7, #fffaf5); */
    /*background: linear-gradient(-90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);*/
    /* box-shadow: 0px 5px 10px var(--color-shadow); */
    width: 100%;
    position: relative;
    /*width: calc(100% + 4em);
    left: -2em;
    border-radius: 7px 7px 0 0;*/
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;

    background: linear-gradient(-90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);
    box-shadow: 0px 1px 10px var(--color-shadow);
}

/*
.footer::after {
    content: "";
    background: linear-gradient(-90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);
    box-shadow: 0px 1px 10px var(--color-shadow);
    transform: skew(50deg);
    position: absolute;
    width: calc(100% + 4em);
    height: 100%;
    left: -2em;
    top: 0;
    z-index: -1;
}
*/

.footer a {
    padding: 1em;
    margin: 0;
    color: var(--color-white-95pct);
    /* text-decoration: none; */
    text-shadow: 1px 1px 1px var(--color-dark-shadow);
}

/*
.footer a:hover {
    background-color: var(--color-navhover);
}
*/

.navigation a {
    padding: 1em;
    margin: 0;
    color: var(--color-white-95pct);
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--color-dark-shadow);
    transform: skew(30deg);
}

.navigation a:hover {
    background-color: var(--color-navhover);
}

.navigation .home-link {
    font-family: "logo-font", sans-serif;
    font-weight: bold;
}

.vertical-spacer-sm {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.blog-title {
    font-family: "title-font", sans-serif;
    text-align: center;
}

.blog-stub {
    padding: 1em;
    margin: 1em;
    /*box-shadow: 0px 8px 15px var(--color-shadow);*/
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /*width: calc(100% + 4em);
    position: relative;
    left: -4em;*/
}

.blog-stub:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.blog-metadata, .blog-metadata a {
    text-align: center;
    color: var(--color-black-70pct);
}

.blog-metadata p {
    display: inline;
}

.blog-tags ul {
    display: inline;
    padding: 0;
}

.blog-tags ul li {
    display: inline;
}


.blog-tags ul li::after {
    content: " • ";
}

.blog-tags ul li:last-child::after {
    content: "";
}

.blog-updated-at::before {
    content: " • ";
}

.blog-footer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    /*display: flex;
    justify-content: space-between;
    align-content: center;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

.blog-footer-arrow {
    /*padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;*/
    font-size: 18pt;
    line-height: 0px;
}

/*
.blog-footer a {
    display: inline-block;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
*/

.blog-footer-left {
    /*float: left;
    width: 33.1%;*/
    text-align: left;
}

.blog-footer-right {
    /*float: right;
    width: 33.1%;*/
    text-align: right;
}

.blog-footer-center {
    /*margin-left: auto;
    margin-right: auto;
    width: 33.1%;*/
    text-align: center;
}

hr {
    border: 0;
    display: block;
    height: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    /* background-color: var(--color-dark-orange); */
    /* background: radial-gradient(circle at 50% 50%, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2, #f4d4ca, #fbf0e7, #fffaf5); */
    /* background: radial-gradient(circle at 50% 50%, #e9adb2, #ebb1b4, #eebdb9, #f2ccc3, #f6ddd2, #faece2, #fdf6f0, #fffaf5); */
    /* background: radial-gradient(circle at 50% 50%, #ffc300, #ffb619, #ff9246, #ff6980, #fb5ebb, #ad6edf, #5778e5, #0e7ae3); */
    /* background-color: var(--color-black-50pct); */
    background: radial-gradient(circle at 50% 50%, var(--color-dark-blue-alt-75pct), rgba(0, 0, 0, 0));
}

/*
@media only screen and (max-width: 120em) {
    .navigation:after {
        border-radius: 0 0 80em 0;
    }
}

@media only screen and (max-width: 90em) {
    .navigation:after {
        border-radius: 0 0 65em 0;
    }
}

@media only screen and (max-width: 90em) {
    .navigation {
        background: linear-gradient(90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);
        box-shadow: 0px 1px 10px var(--color-dark-shadow);
    }

    .main-content-container {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 0px;
    }

    .navigation:after {
        display: none;
    }

    .footer {
        background: linear-gradient(-90deg, #0563bd, #4f66bd, #976fb9, #cd87b0, #e9adb2);
    }
}
*/

@media only screen and (max-width: 96em) {
    /*
    .navigation, .footer {
        width: 100%;
        left: 0;
    }
    */

    .navigation::after, .footer::after{
        transform: skew(0deg);
        width: 100%;
        left: 0;
    }
}

/* Font */

.font-sans {
    font-family: sans-serif;
}

.font-title {
    font-family: "title-font", sans-serif;
}

/* Width */

.width-sm {
    width: min(75em, 100%);
}

.width-md {
    width: min(90em, 100%);
}

.width-lg {
    width: min(150em, 100%);
}

.width-auto {
    width: auto;
}

.width-fit-content {
    width: fit-content;
}

/* Alignment */

.center-hz {
    margin-left: auto;
    margin-right: auto;
}

.text-center-hz {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Arrangement */

.inline {
    display: inline;
}

/* Padding */

.padding-none {
    padding: 0;
}

.padding-sm {
    padding: 0.5em;
}

.padding-md {
    padding: 0.75em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-bottom-sm {
    padding-bottom: 0.5em;
}

.padding-bottom-md {
    padding-bottom: 0.75em;
}

/* Margin */

.margin-none {
    margin: 0;
}

.margin-sm {
    margin: 0.5em;
}

.margin-md {
    margin: 0.75em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-top-neg {
    margin-top: -1em;
}

.margin-top-md {
    margin-top: 0.75em;
}

.margin-bottom-none {
    margin-bottom: 0;
}

/* Border */

.rounded-corners-sm {
    border-radius: 5px;
}

.rounded-corners-md {
    border-radius: 10px;
}

.rounded-corners-lg {
    border-radius: 20px;
}

/* Shadow */

.shadow-diag-sm {
    box-shadow: 2px 2px 5px var(--color-shadow);
}

.shadow-diag-md {
    box-shadow: 2px 5px 12px var(--color-shadow);
}

.shadow-down-sm {
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.shadow-down-md {
    box-shadow: 0px 5px 10px var(--color-shadow);
}

.shadow-down-lg {
    box-shadow: 0px 8px 15px var(--color-shadow);
}

.text-shadow-obnoxious {
    text-shadow: 8px 8px 5px #0000ff44, 16px 16px 5px #00ff0044, 24px 24px 5px #ff000033, 32px 32px 5px #0000ff33, 40px 40px 5px #00ff0022, 48px 48px 5px #ff000022, 56px 56px 5px #0000ff11;
}

/* Text size */

.textsize-sm {
    font-size: 10pt;
}

.textsize-md {
    font-size: 12pt;
}

.textsize-lg {
    font-size: 18pt;
}

.textsize-extralg {
    font-size: 50pt;
}

/* Text style */

.bold {
    font-weight: bold;
}

.font-logo {
    font-family: "logo-font", sans-serif;
}

/* Color */

:root {
    --content-width: 90em;

    --color-extralightblue: rgb(210, 224, 255);
    --color-lightblue: rgb(187, 209, 255);
    --color-darkblue: rgb(0, 75, 160);
    --color-lightgray: rgb(240, 240, 240);
    --color-extralightgray: rgb(250, 250, 250);
    /*--color-moreextralight-orange: rgb(255, 250, 245);*/
    /* --color-moreextralight-orange: #fffaf5; */
    --color-moreextralight-orange: #fffaf5;
    --color-medgray: rgb(230, 230, 230);
    --color-extradarkgray: rgb(30, 30, 30);
    --color-shadow: rgba(0, 0, 0, 0.18);
    --color-dark-shadow: rgba(0, 0, 0, 0.4);

    /* https://paletton.com/#uid=73p0G0kolZkcuZWiUZEtTY6J4Ux */
    --color-main-blue: #43ccfa;
    --color-light-blue: #9de4fc;
    --color-dark-blue: #05b2ec;
    --color-main-purple: #6556fb;
    --color-light-purple: #afa7fc;
    --color-main-yellow: #ffd43d;
    --color-light-yellow: #ffe99c;
    --color-dark-yellow: #ffc600;
    --color-main-orange: #ffa13d;
    --color-light-orange: #ffcf9c;
    --color-dark-orange: #ff8300;

    /* https://paletton.com/#uid=33p0G0kolZkcuZWiUZEtTY6J4Ux */
    --color-main-red: #fe3d58;
    --color-light-red: #ff9ba9;
    --color-dark-red: #fd0023;

    /* https://paletton.com/#uid=33-0u0kAXQZkZS3rcRuPLDyN+qF */
    --color-main-blue-alt: #0E7AE3;
    --color-light-blue-alt: #398ad9;
    --color-med-blue-alt: #0774da;
    --color-dark-blue-alt: #0563BD;
    --color-dark-blue-alt-15pct: rgba(5, 99, 189, 0.15);
    --color-dark-blue-alt-75pct: rgba(5, 99, 189, 0.75);
    --color-light-orange-alt: #FF8E58;
    --color-dark-orange-alt: #FF6C26;

    --color-extralight-orange: #ffe9d2;
    --color-extradark-red: #ca001c;
    --color-moreextradark-red: #bb0019;

    --color-extradark-blue: #016484;
    --color-moreextradark-blue: #005774;

    --color-white-15pct: rgba(255, 255, 255, 0.15);
    --color-white-25pct: rgba(255, 255, 255, 0.25);
    --color-white-50pct: rgba(255, 255, 255, 0.5);
    --color-white-75pct: rgba(255, 255, 255, 0.75);
    --color-white-95pct: rgba(255, 255, 255, 0.95);

    --color-black-50pct: rgba(0, 0, 0, 0.5);
    --color-black-70pct: rgba(0, 0, 0, 0.7);
    --color-black-75pct: rgba(0, 0, 0, 0.75);
    --color-black-90pct: rgba(0, 0, 0, 0.90);
    --color-black-95pct: rgba(0, 0, 0, 0.95);

    --color-pagebg: var(--color-moreextralight-orange);
    /*--color-pagebg: var(--color-black-90pct);*/
    --color-contentbg: var(--color-white-50pct);
    /*--color-contentbg: var(--color-moreextralight-orange);*/
    /* --color-contentbg: var(--color-moreextralight-orange); */
    --color-maintext: var(--color-black-90pct);
    --color-lighttext: var(--color-white-95pct);
    --color-navbg: var(--color-dark-blue-alt);
    --color-navhover: var(--color-white-15pct);
}

.bgcolor-extralightblue {
    background-color: var(--color-extralightblue);
}

.textcolor-extralightblue {
    color: var(--color-extralightblue);
}

.bgcolor-lightblue {
    background-color: var(--color-lightblue);
}

.textcolor-lightblue {
    color: var(--color-lightblue);
}

.bgcolor-darkblue {
    background-color: var(--color-darkblue);
}

.textcolor-darkblue {
    color: var(--color-darkblue);
}

.bgcolor-lightgray {
    background-color: var(--color-lightgray);
}

.textcolor-lightgray {
    color: var(--color-lightgray);
}

.bgcolor-medgray {
    background-color: var(--color-medgray);
}

.textcolor-medgray {
    color: var(--color-medgray);
}