/* Webfont */
@font-face {
    font-family: "main-font";
    src: url("/open-sans-regular.woff2") format('woff2');
}

@font-face {
    font-family: "title-font";
    src: url("/martel-regular.woff2") format('woff2');
}

@font-face {
    font-family: "logo-font";
    src: url('/raleway-bold.woff2') format('woff2');
}

/* Composite classes */

/* * {border:1px solid red;} */

body {
    font-family: "main-font", sans-serif;
    color: var(--color-maintext);
    padding: 0;
    margin: 0;
    background-color: var(--color-pagebg);
}

a {
    color: var(--color-link);
    /*text-decoration: none;
    border-bottom: 3px solid var(--color-tertiary);*/
}

a:visited {
    color: var(--color-link-visited);
}

/*
h1, h2, h3, h4, h5, h6 {
    /*background-color: rgba(var(--color-main-green-triple), 0.30);*/
    /*text-shadow: 1px 1px 1px var(--color-dark-shadow);*//*
    padding-right: 1em;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
    display: table;
    /*clip-path: polygon(0 0, calc(100% - 0.5em) 0, 100% 100%, 0 100%);*//*
    box-shadow: 0px 5px 0px var(--color-primary);
}
*/

/*
h1, h2, h3, h4, h5, h6 {
    text-shadow: 3px 3px 0px rgba(var(--color-main-blue-triple), 1);
}
*/

.page-container {
    width: min(90em, 100%);
    margin-left: auto;
    margin-right: auto;
}

.main-content-container {
    background-color: var(--color-contentbg);
    box-shadow: 0px 5px 10px var(--color-shadow);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.text-container {
    padding: 1em;
}

.navigation {
    position: relative;
    margin-top: 1em;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navigation::after {
    content: "";
    background-color: var(--color-primary);
    box-shadow: -15px 10px 0px var(--color-secondary), 10px -5px 0px var(--color-tertiary);
    transform: skew(15deg);
    position: absolute;
    width: calc(100% + 4em);
    height: 100%;
    left: -2em;
    top: 0;
    z-index: -1;
}

.footer {
    width: 100%;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
    background-color: var(--color-primary);
    /*box-shadow: 0px -5px 0px var(--color-secondary);*/
    border-top: 5px solid var(--color-secondary);
}

.footer a {
    padding: 1em;
    margin: 0;
    color: var(--color-white-95pct);
    /* text-decoration: none; */
    text-shadow: 1px 1px 1px var(--color-dark-shadow);
    border: none;
}

.navigation a {
    padding: 1em;
    margin: 0;
    color: var(--color-white-95pct);
    text-decoration: none;
    text-shadow: 1px 1px 1px var(--color-dark-shadow);
    border: none;
}

.navigation a:hover {
    background-color: var(--color-navhover);
}

.navigation .home-link {
    font-family: "logo-font", sans-serif;
    font-weight: bold;
    margin-left: -2em;
}

.vertical-spacer-sm {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/*
.blog-heading {
    background-color: var(--color-primary);
}
*/

.blog-title {
    /*width: 100%;*/
    padding-left: 0;
    padding-right: 0;
    background: none;
    margin-left: auto;
    margin-right: auto;
    font-family: "title-font", serif;
    text-align: center;
    clip-path: none;
    box-shadow: none;
    /*box-shadow: 0px 8px 0px var(--color-primary);*/
}

.blog-title::after {
    display: block;
    content: "";
    margin: auto;
    position: relative;
    width: 10em;
    height: 8px;
    background-color: var(--color-primary);
}

.blog-stub {
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
}

.blog-stub:hover {
    background-color: rgba(255, 255, 255, 0.02);
}

/*
.blog-metadata {
    display: table;
    margin: auto;
    padding-top: 0.5em;
    box-shadow: 0px -8px 0px var(--color-primary);
}
*/

.blog-metadata, .blog-metadata a {
    text-align: center;
    color: var(--color-white-70pct);
}

.blog-metadata p {
    display: inline;
}

.blog-tags ul {
    display: inline;
    padding: 0;
}

.blog-tags ul li {
    display: inline;
}


.blog-tags ul li::after {
    content: " • ";
}

.blog-tags ul li:last-child::after {
    content: "";
}

.blog-updated-at::before {
    content: " • ";
}

.blog-footer {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

.blog-footer-arrow {
    font-size: 18pt;
    line-height: 0px;
}

.blog-footer-left {
    text-align: left;
}

.blog-footer-right {
    text-align: right;
}

.blog-footer-center {
    text-align: center;
}

hr {
    border: 0;
    display: block;
    height: 0.2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background: radial-gradient(circle at 50% 50%, var(--color-main-yellow), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 96em) {
    /*
    .navigation::after, .footer::after{
        transform: skew(0deg);
        box-shadow: 0px 10px 0px #00C17D, 0px -10px 0px #ffc300;
        width: 100%;
        left: 0;
    }
    */

    .navigation {
        width: calc(100% - 2em);
        margin-left: auto;
        margin-right: auto;
    }

    .navigation .home-link {
        margin-left: 1em;
    }

    .navigation::after, .footer::after{
        width: calc(100% - 2em);
        left: 1em;
    }
}

/* Font */

.font-sans {
    font-family: sans-serif;
}

.font-title {
    font-family: "title-font", sans-serif;
}

/* Width */

.width-sm {
    width: min(75em, 100%);
}

.width-md {
    width: min(90em, 100%);
}

.width-lg {
    width: min(150em, 100%);
}

.width-auto {
    width: auto;
}

.width-fit-content {
    width: fit-content;
}

/* Alignment */

.center-hz {
    margin-left: auto;
    margin-right: auto;
}

.text-center-hz {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Arrangement */

.inline {
    display: inline;
}

/* Padding */

.padding-none {
    padding: 0;
}

.padding-sm {
    padding: 0.5em;
}

.padding-md {
    padding: 0.75em;
}

.padding-lg {
    padding: 1.5em;
}

.padding-bottom-sm {
    padding-bottom: 0.5em;
}

.padding-bottom-md {
    padding-bottom: 0.75em;
}

/* Margin */

.margin-none {
    margin: 0;
}

.margin-sm {
    margin: 0.5em;
}

.margin-md {
    margin: 0.75em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-top-neg {
    margin-top: -1em;
}

.margin-top-md {
    margin-top: 0.75em;
}

.margin-bottom-none {
    margin-bottom: 0;
}

/* Border */

.rounded-corners-sm {
    border-radius: 5px;
}

.rounded-corners-md {
    border-radius: 10px;
}

.rounded-corners-lg {
    border-radius: 20px;
}

/* Shadow */

.shadow-diag-sm {
    box-shadow: 2px 2px 5px var(--color-shadow);
}

.shadow-diag-md {
    box-shadow: 2px 5px 12px var(--color-shadow);
}

.shadow-down-sm {
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.shadow-down-md {
    box-shadow: 0px 5px 10px var(--color-shadow);
}

.shadow-down-lg {
    box-shadow: 0px 8px 15px var(--color-shadow);
}

.text-shadow-obnoxious {
    text-shadow: 8px 8px 5px #0000ff44, 16px 16px 5px #00ff0044, 24px 24px 5px #ff000033, 32px 32px 5px #0000ff33, 40px 40px 5px #00ff0022, 48px 48px 5px #ff000022, 56px 56px 5px #0000ff11;
}

/* Text size */

.textsize-sm {
    font-size: 10pt;
}

.textsize-md {
    font-size: 12pt;
}

.textsize-lg {
    font-size: 18pt;
}

.textsize-extralg {
    font-size: 50pt;
}

/* Text style */

.bold {
    font-weight: bold;
}

.font-logo {
    font-family: "logo-font", sans-serif;
}

/* Color */

:root {
    --content-width: 90em;

    /* https://paletton.com/#uid=33-0u0kPwDppxNnzvOxPYrIQDls */
    --color-main-blue: #0563BD;
    --color-main-blue-triple: 5, 99, 189;
    --color-light-blue: #398AD9;
    --color-dark-blue: #044B8F;
    --color-main-yellow: #ffc300;
    --color-main-yellow-triple: 255, 195, 0;
    --color-light-yellow: #FFCF34;
    --color-dark-yellow: #DDA900;

    /* https://paletton.com/#uid=53-0u0kPwDppxNnzvOxPYrIQDls */
    --color-main-green: #00C17D;
    --color-main-green-triple: 0, 193, 125;
    --color-light-green: #2CDB9D;
    --color-dark-green: #009460;

    --color-lighter-yellow: #facf46;

    --color-shadow: rgba(0, 0, 0, 0.18);
    --color-dark-shadow: rgba(0, 0, 0, 0.4);

    --color-white-10pct: rgba(255, 255, 255, 0.1);
    --color-white-15pct: rgba(255, 255, 255, 0.15);
    --color-white-25pct: rgba(255, 255, 255, 0.25);
    --color-white-50pct: rgba(255, 255, 255, 0.5);
    --color-white-70pct: rgba(255, 255, 255, 0.7);
    --color-white-75pct: rgba(255, 255, 255, 0.75);
    --color-white-85pct: rgba(255, 255, 255, 0.85);
    --color-white-90pct: rgba(255, 255, 255, 0.9);
    --color-white-95pct: rgba(255, 255, 255, 0.95);

    --color-black-10pct: rgba(0, 0, 0, 0.1);
    --color-black-40pct: rgba(0, 0, 0, 0.4);
    --color-black-50pct: rgba(0, 0, 0, 0.5);
    --color-black-70pct: rgba(0, 0, 0, 0.7);
    --color-black-75pct: rgba(0, 0, 0, 0.75);
    --color-black-90pct: rgba(0, 0, 0, 0.90);
    --color-black-95pct: rgba(0, 0, 0, 0.95);

    --color-primary: var(--color-main-blue);
    --color-secondary: var(--color-main-green);
    --color-tertiary: var(--color-main-yellow);

    --color-pagebg: var(--color-black-90pct);
    --color-contentbg: var(--color-white-10pct);
    --color-maintext: var(--color-white-90pct);
    --color-lighttext: var(--color-white-95pct);
    --color-navbg: var(--color-primary);
    --color-navhover: var(--color-white-15pct);
    --color-link: var(--color-lighter-yellow);
    --color-link-visited: var(--color-lighter-yellow);
}

.bgcolor-extralightblue {
    background-color: var(--color-extralightblue);
}

.textcolor-extralightblue {
    color: var(--color-extralightblue);
}

.bgcolor-lightblue {
    background-color: var(--color-lightblue);
}

.textcolor-lightblue {
    color: var(--color-lightblue);
}

.bgcolor-darkblue {
    background-color: var(--color-darkblue);
}

.textcolor-darkblue {
    color: var(--color-darkblue);
}

.bgcolor-lightgray {
    background-color: var(--color-lightgray);
}

.textcolor-lightgray {
    color: var(--color-lightgray);
}

.bgcolor-medgray {
    background-color: var(--color-medgray);
}

.textcolor-medgray {
    color: var(--color-medgray);
}