/* Font */

.font-sans {
    font-family: sans-serif;
}

/* Width */

.width-sm {
    width: min(75em, 100%);
}

.width-md {
    width: min(100em, 100%);
}

.width-lg {
    width: min(150em, 100%);
}

/* Alignment */

.center-hz {
    margin: auto;
}

.text-center-hz {
    text-align: center;
}

/* Padding */

.padding-none {
    padding: 0;
}

.padding-sm {
    padding: 0.5em;
}

.padding-md {
    padding: 0.75em;
}

.padding-lg {
    padding: 1.5em;
}

/* Margin */

.margin-none {
    margin: 0;
}

.margin-sm {
    margin: 0.5em;
}

.margin-md {
    margin: 0.75em;
}

.margin-lg {
    margin: 1.5em;
}

.margin-top-neg {
    margin-top: -1em;
}

.margin-top-md {
    margin-top: 0.75em;
}

/* Border */

.rounded-corners-sm {
    border-radius: 6px;
}

.rounded-corners-md {
    border-radius: 10px;
}

.rounded-corners-lg {
    border-radius: 20px;
}

/* Shadow */

.shadow-diag-sm {
    box-shadow: 2px 2px 5px var(--color-shadow);
}

.shadow-diag-md {
    box-shadow: 2px 5px 12px var(--color-shadow);
}

.shadow-down-sm {
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.shadow-down-md {
    box-shadow: 0px 5px 10px var(--color-shadow);
}

.shadow-down-lg {
    box-shadow: 0px 8px 15px var(--color-shadow);
}

/* Text size */

.textsize-extralg {
    font-size: 50pt;
}

/* Color */

:root {
    --color-extralightblue: rgb(210, 224, 255);
    --color-lightblue: rgb(187, 209, 255);
    --color-darkblue: rgb(0, 75, 160);
    --color-lightgray: rgb(240, 240, 240);
    --color-medgray: rgb(230, 230, 230);
    --color-extradarkgray: rgb(30, 30, 30);
    --color-shadow: rgba(0, 0, 0, 0.2);

    --color-pagebg: var(--color-extralightblue);
    --color-contentbg: var(--color-lightgray);
    --color-contenttext: var(--color-extradarkgray);
}

.bgcolor-extralightblue {
    background-color: var(--color-extralightblue);
}

.textcolor-extralightblue {
    color: var(--color-extralightblue);
}

.bgcolor-lightblue {
    background-color: var(--color-lightblue);
}

.textcolor-lightblue {
    color: var(--color-lightblue);
}

.bgcolor-darkblue {
    background-color: var(--color-darkblue);
}

.textcolor-darkblue {
    color: var(--color-darkblue);
}

.bgcolor-lightgray {
    background-color: var(--color-lightgray);
}

.textcolor-lightgray {
    color: var(--color-lightgray);
}

.bgcolor-medgray {
    background-color: var(--color-medgray);
}

.textcolor-medgray {
    color: var(--color-medgray);
}

/* Composite classes */

div .text-container {
    background-color: var(--color-contentbg);
    color: var(--color-contenttext);
    box-shadow: 0px 5px 10px var(--color-shadow);
    border-radius: 6px;
    padding: 0.75em;
    width: min(100em, 100%);
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--color-pagebg);
}