<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
        <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
        <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
        <link href="/site.webmanifest" rel="manifest"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet">
        <script async defer data-website-id="0fb9897a-2078-4060-ab2e-5e8244f8e3cc" data-domains="rotoclone.zone,www.rotoclone.zone" src="https://www.rotoclone.zone/umami/rotoclone_umami.js"></script>
        <title>{{ title }}</title>
    </head>
    <body class="font-sans padding-none margin-none bgcolor-extralightblue"> {% block content %}{% endblock content %}
    </body>
</html>