<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
        <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
        <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
        <link href="/site.webmanifest" rel="manifest"/>
        <script async defer data-website-id="0fb9897a-2078-4060-ab2e-5e8244f8e3cc" src="https://www.rotoclone.zone/umami.js"></script>
        <title>{{ title }}</title>
    </head>
    <body style="font-family:sans-serif;"> {% block content %}{% endblock content %}
    </body>
</html>