<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
        <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
        <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
        <link href="/site.webmanifest" rel="manifest"/>
        <title>{{ title }}</title>
    </head>
    <body style="font-family:sans-serif;"> {% block content %}{% endblock content %}
        <noscript><img src="https://analytics.rotoclone.zone/ingress/ffee66b9-8e0a-469e-ad36-6e2b8e17bf85/pixel.gif"/></noscript>
        <script src="https://analytics.rotoclone.zone/ingress/ffee66b9-8e0a-469e-ad36-6e2b8e17bf85/script.js"></script>
    </body>
</html>