{% extends "base" %}
{% block content %}
    <h1>{{ title }}</h1>
    <p>Posted {{ created_at }}</p>
    {% if updated_at %}
        <p>Updated {{ updated_at }}</p>
    {% endif %}
    {% if tags|length > 0 %}
        <p>Tags:</p>
        <ul>
            {% for tag in tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr />
    <p>{{ entry_content | safe }}</p>
    <hr />
    <a href="/">Home</a>
{% endblock content %}