{% extends "base" %}
{% block content %}
    <div class="text-container center-hz text-center-hz width-fit-content margin-top-md">
        <h1>{{ header }}</h1>
        <p>{{ message }}</p>
    </div>
{% endblock content %}