<span class="icon icon-arrow-up"><svg viewBox="0 0 186 201" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-12 -38)"><path transform="matrix(.26 0 0 .26 12 38)" d="m352 4.7-346 454h216v301h261v-301h216l-346-454z" stroke-opacity="0"/></g></svg></span>
