<span class="icon icon-arrow-left"><svg viewBox="0 0 201 186" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-4.3 -46)"><path d="m5.2 139 120 92v-57h80v-69h-80v-57z" stroke-opacity="0"/></g></svg></span>
