<span class="icon icon-arrow-right"><svg viewBox="0 0 201 186" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-4.6 -46)"><path d="m205 139-120-92v57h-80v69h80v57z" stroke-opacity="0"/></g></svg></span>
