<span class="icon"><svg viewBox="0 0 201 186" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-4.2 -46)"><path d="m5.2 139 120 92v-51h80v-81h-80v-51z" stroke-opacity="0"/></g></svg></span>
